* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner img{
    width: 100%;
    margin-bottom: 2rem;
}


.title{
    text-align: center;
    font-size: larger;

}

h1{
    font-family: "Sigmar", sans-serif;
    color: white;
    margin-bottom: 0.5rem;
    padding: 10px 10px;
    font-size: 2.5rem;
    line-height: 3rem;
    

}

p{
    color: white;
    margin-bottom: 1rem;
    text-align:left;
    font-family: sans-serif;
    font-size: 18px;
    padding: 1px 25px;
    line-height: 1.5rem;
}


.cube{
    position: relative;

}

 .cube_discord{
    position: absolute;
    max-width: 5rem;
    height: auto;

 }


.links .download,
.links .browser{  
    padding: 0.50rem 1rem;
    text-align: center;
    border-radius: 1rem;
    display: block;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    width: 90%;
    font-size:18px;
    margin-bottom: 1rem;
    margin-left: 1rem;
}


.download{
    background-color: white;
    margin-top: 1.2rem;
    
}


.browser{
    background-color: #5865f2;
    color: white;
}



body{
    width: 512px;
    background-color: #191d7b;
    margin: 0 auto;
    background-attachment: fixed;
    overflow: auto;
    padding: 10px;
}



.chat{
    border:2px solid #5865f2;
    padding: 15px 15px;
    background-color: #5865f2;
    border-radius: 1.5rem;
    margin-bottom: 4rem;
    font-size:larger;
    margin-top: 4rem;
    text-align: left;
    li
}




.game{
    border:2px solid #5865f2;
    padding: 15px 15px;
    background-color: #5865f2;
    border-radius: 1.5rem;
    text-align:left; 
    margin-bottom: 4rem;
    font-size: larger;
    margin-top: 4rem;
    
}

video{
    width: 100%;
    border-radius: 2rem;
    margin-bottom: 2rem;
}


