css{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.banner img{
    width: 100%;
}


.title{
    text-align: center;
    font-size: larger;
}

h1{
    font-family: "Sigmar", sans-serif;
    color: white;
    
    
}



.cube{
    position: relative;

}

 .cube_discord{
    position: absolute;
    max-width: 5rem;
    height: auto;

 }


.links{
    padding: 0.5 1rem;
    background-color: transparent;
    text-align: left;


}

.Download{
    background-color: white;

}


.browser{
    background-color: #5865f2;
    text-align: center;
}



body{
    width: 512px;
    background-color: #191d7b;
    margin: 0 auto;
    background-attachment: fixed;
    overflow: auto;
    padding: 10px;
}


p{
    font-family: "DM Sans", sans-serif;  
    color:white;
}

.chat{
    border:2px solid #5865f2;
    padding: 20px;
    background-color: #5865f2;
    border-radius: 1.5rem;
    margin-bottom: 4rem;
    font-size:larger;
}




.game{
    border:2px solid #5865f2;
    padding: 20px;
    background-color: #5865f2;
    border-radius: 1.5rem;
    text-align:left; 
    margin-bottom: 4rem;
    font-size: larger;
    
}

video{
    width: 100%;
    border-radius: 2rem;
    
}

