css{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.banner img{
    width: 100%;
}


.title{
    text-align: center;
    font-size: larger;
}

h1{
    font-family: "Sigmar", sans-serif;
    color: white;
}



button{ 
    padding: 20px;
    border-radius: 1rem;
    border: 1px solid white;
    background-color: white;
    color: black;
    font-family: "DM Sans";
    width: 90%;
    font-size: 20px;

}


.discord{
    background-color: #5865f2;
    border: #5865f2;
    color: white;
    width: 90%;
}


.first_link{
    padding: 1px;
    text-align: center;
    font-family: "DM Sans";
    font: size 20px;
    margin-bottom: 1.5rem;  
}


.second_link{
    padding: 1px;
    text-align: center;
    color: white;
    border-radius: 1.5rem;
    font-family: "DM Sans";
    font-size: 16px;
    margin-bottom: 4rem;

}


body{
    width: 512px;
    background-color: #191d7b;
    margin: 0 auto;
    background-attachment: fixed;
    overflow: auto;
    padding: 10px;
}


p{
    font-family: "DM Sans", sans-serif;  
    color:white;
}

.chat{
    border:2px solid #5865f2;
    padding: 20px;
    background-color: #5865f2;
    border-radius: 1.5rem;
    margin-bottom: 4rem;
    font-size:larger;
}




.game{
    border:2px solid #5865f2;
    padding: 20px;
    background-color: #5865f2;
    border-radius: 1.5rem;
    text-align:left; 
    margin-bottom: 4rem;
    font-size: larger;
    
}

video{
    width: 100%;
    border-radius: 2rem;
    
}

